@media screen and (max-width:1299px) {          /* xl */
    
}
@media screen and (max-width:1023px) {    
    
}
@media screen and (max-width:991px) {           /* lg */
    .feature-cnt img{
        width: 155px;
    }
}
@media screen and (max-width:767px) {           /* md */
    header nav ul {
        display: flex;
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: red;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: 0.5s;
        opacity: 0;
        display: none;
    }
    .mobile-active{
        opacity: 1;
    }
    .toggle-bt{
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        z-index: 100;
    }
    .mobile-nav{
        display: block;
    }
}

@media screen and (max-width:680px)  {
    .feature-cnt img{
        width: 120px;
    }
}

@media screen and (max-width:575px) {           /* sm */
    
}
@media screen and (max-width:425px) {
    
}
@media screen and (max-width:375px) {
    
}
